.tbPadding16px{
    padding: 16px 0;
}

.centerTweetInput{
    background-color: #15202B;
    border: none;
    font-size: larger;
    max-width: 100%;
    width: 99%;

}

.centerTweetInput:focus {
    outline: none;
  }

.formDiv{
    width: 89%;
    

}

.lrMargin{
    margin-left: 16px;
    margin-right: 16px;
}

.outerCenterImageDiv{
    margin-right: 10px;
    width: 42px;
}

.outerCenterTweetInputImageDiv{
    margin-right: 0px;
    width: 59px;
}

.tweetSubmit{
    padding: 11px 18px;
    color: white;
    background-color: rgb(29, 161, 242);
    border: none;
    border-radius: 40px;
}

.tweetSubmitDiv{
    margin-top: 12px;
    position: relative;

}



.buttonAndIconsDiv{
    justify-content: space-between;

}

.inputIcons{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 2px 8px;
    border-radius: 40px;
}

.inputIcons:hover{
    background-color: #1f3556;
}

.iconsPositioning{
    position: relative;
    left: -10px;
}

.centerMore {
    font-size: 18px;
    padding-top: 1px;
    display: flex;
}

.centerMoreDiv{
    position: absolute;
    right: -1.6%;
    padding: 7px;
    top: -7px;
    border-radius: 40px;
}

.centerMoreDiv:hover{
    background-color: #1f3556;
}

.tweetImage{
    /* max-width:100%;
    max-height:100%; */
    width: 100%;
    height: 100%;
    border-radius: 51px
}

@media screen and (max-width: 475px){
    .tweetSubmitDiv {
       display: none;
 
    }

}